
/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
    font-size: 0;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}


/* global */
#container_dc {
	position: absolute;
	width: 160px;
	height: 600px;
	top: 0px;
	left: 0px;
	
	margin: auto;
	overflow:hidden;
}
#content_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #92d08a;
	overflow:hidden;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #92d08a;
	overflow:hidden;
}

#bgFade {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9994;
	background-color: white;
}
#border_div {
	width: 158px;
	height: 598px;
	top: 0px;
	left: 0px;
	border:1px solid #000;
}
.full_div{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

#anim_container{


}

#img_lady2_holder{
	top:2px;
}

#bg2{
	background: #163179;	
}

#img_face3{
	left:0px;
}

#scrub_base, #scrub_bar{
	top:0px;
}

/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background-color:transparent;
	z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

